#ifndef ESP8266CLIENTC_CONFIG_H
#define ESP8266CLIENTC_CONFIG_H

#define HTTP_BASE "{{BaseHttp}}"
#define HTTP_NAME "{{HttpName}}"
#define HTTP_SECRET "{{HttpSecret}}"

#endif //ESP8266CLIENTC_CONFIG_H
